@import "../../styles/all.scss";

.news {
  padding: 30px;
  &-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: $fuscous-gray;
  }

  &-list {
    &__item {
      display: flex;
      margin-bottom: 10px;
      &--date {
        opacity: 0.7;
        margin-bottom: 10px;
        font-style: italic;
      }
    }

    &__img {
      margin-right: 15px;
      &--photo {
        width: 300px;
        height: 100%;
      }
    }

    &__info {
      padding-top: 10px;
    }
  }
}

.title-h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 15px;
  padding: 10px 40px;
  border: 2px solid $faded-jade;
  color: $faded-jade;
  cursor: pointer;
  transition: .3s ease;
  &:hover {
    color: $white;
    background-color: $faded-jade;
  }
}