@import "../../styles/all.scss";

.profile {
  &-wrap {
    padding: 30px 0;
  }

  &-title {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
  }

  &-item {
    width: 500px;
    margin: 0 auto;
    background-color: $mercury;
    padding: 30px;
    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 25px;
      margin-bottom: 20px;
      img {
        padding: 10px;
      }
    }

    &_info {
      &-name {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 5px;
        color: $mine-shaft;
      }

      p {
        opacity: 0.7;
        margin-bottom: 15px;
      }
    }
  }

  &-data {
    &__item {
      margin-top: 10px;
      font-size: 18px;
    }
  }
}