@import "../../styles/all.scss";

.promo {
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-info {
    width: 500px;
  }

  &-img img {
    width: 600px;
  }
}

.title-h1 {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 20px;
}

.title-h3 {
  font-size: 33px;
  line-height: 45px;
}
