// colors
$macaroni-and-cheese: #FFBA7A;
$cream-brulee: #FFE299;
$dodger-blue: #08BFFF;
$faded-jade: #3F797F;
$white: #FFFFFF;
$black: #000000;
$mine-shaft: #303030;
$deep-cerulean: #057CA6;
$white-lilac: #F7F9FC;
$viking: #53D3D6;
$mercury: #E5E5E5;
$maroon-flush: #D62440;
$fuscous-gray: #424241;